:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #272727;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.header {
  background-color: #222222;
  box-shadow: 0px 0px 7px #121212;
  margin: auto;
}

.header h1 {
  font-size: 2.5rem;
}

.header-content {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content div {
  width: 100%;
}

.header-content img {
  width: 200px;
}

.header-content form {
  margin-top: 30px;
}

form div {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}

input,
button {
  font-size: 1rem;
  padding: 13px;
  border: none;
  border-radius: 8px;
}

input {
  width: 450px;
}

.grid h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 30px;
}

.gif-item {
  background-color: #222222;
  box-shadow: 5px 10px 20px #121212;
  border-radius: 8px;
  overflow: hidden;
}

.gif-item img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.gif-item footer {
  text-align: center;
  padding: 5px;
}

@media only screen and (max-width: 750px) {
  .header-content img {
    display: none;
  }
}
